{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Les bonnes annonces 👍 </h1>
	</div>
	<div class="wrapper">
         <div class="carousel owl-carousel">
            <div class="card card-1">
               <a href="#" title="bricolage"><img src="assets/img/bricolage.jpg" alt="bricolage">
				<div class="bottom">Bricolage</div></a>
            </div>
            <div class="card card-2">
				<a href="#" title="cuisine"><img src="assets/img/cuisine.jpeg" alt="cuisine">
				<div class="bottom">Cuisine</div></a>
            </div>
            <div class="card card-3">
				<a href="#" title="jardinage"><img src="assets/img/jardinage.jpg" alt="jardinage">
				<div class="bottom">Jardinage</div></a>
            </div>
            <div class="card card-4">
				<a href="#" title="musique"><img src="assets/img/music.jpeg" alt="musique">
				<div class="bottom">Musique</div></a>
            </div>
            <div class="card card-5">
				<a href="#" title="promenade"><img src="assets/img/promenade.jpg" alt="promenade">
				<div class="bottom">Promenade</div></a>
            </div>
			<div class="card card-6">
				<a href="#" title="sport"><img src="assets/img/sport.jpeg" alt="sport">
				<div class="bottom">Sport</div></a>
            </div>
            <div class="card card-7">
				<a href="#" title="art plastique"><img src="assets/img/artplast.jpeg" alt="art plastique">
				<div class="bottom">Art plastique</div></a>
            </div>
			<div class="card card-8">
				<a href="#" title="jeux société"><img src="assets/img/jeux.jpeg" alt="jeux de société">
				<div class="bottom">Jeux de société</div></a>
            </div>
         </div>
    </div>

	{# <div id="Carrousel" class="diaporama">
			<i class="fas fa-chevron-left photo"></i>
            <img id="Carrouselimg" src="assets/img/artplast.png" alt="">
			<i class="fas fa-chevron-right photo"></i>
    </div> #}
	<section>
		<div class="container">
			<p>
				Le site qui permet de créer du lien intergénérationnel. Vous
				souhaitez partager vos centres d' intéret, vos loisirs, vos savoirs
				faire avec des personnes âgées , isolées ou en situation de
				handicap, ce site met en relation les établissements et les
				bénévoles
			</p>
		</div>
	</section>


{% endblock %}
