
#annonces {
    /* border: 4px red solid; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    width: 80%;
    height: 75vh;
    overflow: auto;
    margin: auto;
}

#Carroussel{
    width: 80%;
    margin: auto;
}